@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
	--color-1: #186cb8;
	--color-2: #2a9a9f;
	--color-3: #f1b211;
	--color-4: #f9002f;
	--color-5: #f9002f;
}

.md-typeset h1 {
	font-family: 'Bebas Neue', cursive;
	font-size: 28px;
	color: #f9002f;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
	font-weight: 500;
	letter-spacing: 0;
	line-height: 1.5em;
	padding-bottom: 15px;
	position: relative;
}

.md-typeset h1:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 5px;
	width: 55px;
	background-color: #f9002f;
}

.md-typeset h1:after {
	content: "";
	position: absolute;
	left: 0;
	text-transform: uppercase;
	bottom: 2px;
	height: 1px;
	width: 95%;
	max-width: 255px;
	background-color: #f9002f;
}

.md-typeset h2 {
	font-family: 'Bebas Neue', cursive;
	margin: 1em 0 0.5em 0;
	font-weight: 600;
	position: relative;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
	font-size: 24px;
	line-height: 1.5em;
	color: #f9002f;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(53, 86, 129, 0.3);
}

.md-typeset h3 {
	font-family: 'Bebas Neue', cursive;
	margin: 1em 0 0.5em 0;
	font-weight: 600;
	position: relative;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
	font-size: 20px;
	line-height: 1.5em;
	color: #f9002f;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(53, 86, 129, 0.3);
}

.md-typeset ul li::marker {
	content: "×  ";
	font-weight: bold;
	color: #f9002f;
}

.md-typeset ol li::marker {
	font-weight: bold;
	color: #f9002f;
}

.md-nav__title {
	font-size: 15px;
	font-weight: bold;
	color: #f9002f;
	text-transform: uppercase;
}

blockquote p {
	color: #f9002f;
	border: thin solid rgba(53, 86, 129, 0.3);
}

.new-span {
	color: #f9002f;
	font-size: 3em;
	font-family: 'Bebas Neue', cursive;
	font-weight: bold;
	transform: translate(-50%, -50%);
	background-image: linear-gradient(gold, gold);
	background-size: 100% 10px;
	background-repeat: no-repeat;
	background-position: 100% 0%;
	transition: background-size .7s, background-position .5s ease-in-out;
}

.new-span:hover {
	background-size: 100% 100%;
	background-position: 0% 100%;
	transition: background-position .7s, background-size .5s ease-in-out;
}