@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
	--color-1: #186cb8;
	--color-2: #2a9a9f;
	--color-3: #f1b211;
	--color-4: #f9002f;
	--color-5: #f9002f;
}

.md-typeset h1 {
	font-family: 'Titillium Web', sans-serif, 'Noto Sans Simplified Chinese';
	font-size: 28px;
	color: #186cb8;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
	font-weight: 500;
	letter-spacing: 0;
	line-height: 1.5em;
	padding-bottom: 15px;
	position: relative;
}

.md-typeset h1:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 5px;
	width: 55px;
	background-color: #186cb8;
}

.md-typeset h1:after {
	content: "";
	position: absolute;
	left: 0;
	text-transform: uppercase;
	bottom: 2px;
	height: 1px;
	width: 95%;
	max-width: 255px;
	background-color: #186cb8;
}

.md-typeset h2 {
	font-family: 'Titillium Web', sans-serif, 'Noto Sans Simplified Chinese';
	margin: 1em 0 0.5em 0;
	font-weight: 600;
	position: relative;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
	font-size: 24px;
	line-height: 1.5em;
	color: #186cb8;
	border-bottom: 1px solid rgba(53, 86, 129, 0.3);
}

.md-typeset h3 {
	font-family: 'Titillium Web', sans-serif, 'Noto Sans Simplified Chinese';
	margin: 1em 0 0.5em 0;
	font-weight: 600;
	position: relative;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
	font-size: 20px;
	line-height: 1.5em;
	color: #186cb8;
	border-bottom: 1px solid rgba(53, 86, 129, 0.3);
}

.md-typeset ul li::marker {
	content: "×  ";
	font-weight: bold;
	color: #186cb8;
}

.md-typeset ol li::marker {
	font-weight: bold;
	color: #186cb8;
}

.md-nav__title {
	font-size: 15px;
	font-weight: bold;
	color: #186cb8;
	text-transform: uppercase;
}


.new-span {
	color: #f9002f;
	font-family: 'Bebas Neue', cursive;
	font-size: 3em;
	transform: translate(-50%, -50%);
	background-image: linear-gradient(gold, gold);
	background-size: 100% 10px;
	background-repeat: no-repeat;
	background-position: 100% 0%;
	transition: background-size .7s, background-position .5s ease-in-out;
}

.new-span:hover {
	background-size: 100% 100%;
	background-position: 0% 100%;
	transition: background-position .7s, background-size .5s ease-in-out;
}

.md-ellipsis {
	--s: 0.1em;
	/* the thickness of the line */
	--c: #2c4bff;
	/* the color */

	color: #000;
	padding-bottom: var(--s);
	background:
		linear-gradient(90deg, var(--c) 50%, #000 0) calc(100% - var(--_p, 0%))/200% 100%,
		linear-gradient(var(--c) 0 0) 0% 100%/var(--_p, 0%) var(--s) no-repeat;
	-webkit-background-clip: text, padding-box;
	background-clip: text, padding-box;
	transition: 0.5s;
}

.md-ellipsis:hover {
	--_p: 100%
}

.md-ellipsis {
	font-family: system-ui, sans-serif;
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
}